services:
  api:
    build: .
    ports:
      - '3000:3000'
    env_file:
      - .env.production
    depends_on:
      - mongo
    command: npm start
  mongo:
    image: mongo:latest
    ports:
      - '27017:27017'
    volumes:
      - mongo-data:/data/db
    # environment:
    #   - NODE_ENV=development
    #   - MONGODB_URI=mongodb+srv://your-atlas-connection
    #   - PORT=3000
volumes:
  mongo-data:
